# Next.js App Environment - Development

# Environment
NODE_ENV=development

# API
NEXT_PUBLIC_API_URL=http://localhost:8000

# Authentication
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=%%SECRET_KEY%%

# Site Details
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SITE_NAME=%%PROJECT_NAME%% 